
.header{
	margin: 10px 10px 10px 10px;
	height: 200px; 
	text-align: center;
	width: 100%;
}

h1{
	
	text-align: center;
}
h2{
	color: blue;
}
p{
	text-indent: 30px;
}
img{
	width:20%;
	float: left;
	border-right: 1px solid black;
}
.right{
	text-indent:30px;
}
#footer{
	float: right;
	margin-right: 100px;
}


